/*
	Table of Contents
	update on Mon Feb 21 2022 11:33:33 GMT+0200 (GMT+02:00)

	I.   Generic --------------------------------------
	     01. Reset ------------------------------------
	     02. Base -------------------------------------
	     03. Fonts ------------------------------------
	     04. Helpers ----------------------------------
	         Backgroung -------------------------------
	         Triangle ---------------------------------
	II.  Regions --------------------------------------
	     01. Footer -----------------------------------
	     02. Header -----------------------------------
	     03. Sidebar ----------------------------------
	     04. Wrapper ----------------------------------
	III. Modules --------------------------------------
	     01. Button -----------------------------------
	     02. Card -------------------------------------
	     03. Form Elements ----------------------------
	     04. Form -------------------------------------
	     05. List -------------------------------------
	     06. Nav --------------------------------------
	     07. Section ----------------------------------
	     08. Slider -----------------------------------
	     09. Table ------------------------------------
	     10. Widget -----------------------------------
 */

/* ------------------------------------------------------------ *\
	I.   Generic
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; }

details, menu { display: block; }

html,
body { height: 100%; }

html { tap-highlight-color: rgba(0,0,0,0); }

body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }

img, iframe, video, audio, object { max-width: 100%; }
img, iframe { border: 0 none; }
img { height: auto; display: inline-block; }

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }

a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; appearance: none; }

textarea { -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }

button,
input,
optgroup,
select,
textarea { color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

input:-ms-input-placeholder { color: inherit; opacity: 1; }

input::placeholder { color: inherit; opacity: 1; }
textarea:-ms-input-placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit !important; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

table { width: 100%; border-spacing: 0; }

nav ul,
nav ol { list-style: none outside none; }

.btn:focus,
.btn.focus { box-shadow: none; }

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { min-width: 320px; background: white; font-family: 'Roboro Regular',sans-serif; font-size: 1rem; line-height: 1.2; color: black; }

a { color: inherit; }
a:hover { text-decoration: none; }

a[href^="tel"] { text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.6em; }

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }

@media (max-width: 1499px) {
	html { font-size: 14px; }
}

@media (max-width: 767px) {
	html { font-size: 12px; }
}

/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto/roboto-regular-webfont.woff') format('woff'),
		 url('../fonts/Roboto/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif Telugu';
    src: url('../fonts/Noto_Serif_Telugu/notoseriftelugu-variablefont_wght-webfont.woff') format('woff'),
		 url('../fonts/Noto_Serif_Telugu/notoseriftelugu-variablefont_wght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

/* Backgroung */
.bg-secondary { background-color: #e5e5e5 !important; }
.light-blue { border-color: transparent  transparent transparent #94AABC !important; }

/* Triangle */
.triangle-inner { width: 0px; height: 0px; border-style: solid; }
.triangle-right { border-color: transparent transparent transparent #5C758A; border-width: 33px 0px 33px 33px; }
.triangle-left { border-color: transparent #5C758A transparent transparent; border-width: 33px 33px 33px 0px; }

.unclick { pointer-events: none; }

@media (max-width: 991px) {
	.triangle-right { border-color: transparent transparent transparent #5C758A; border-width: 30px 0px 30px 30px; }
	.triangle-left { border-color: transparent #5C758A transparent transparent; border-width: 30px 30px 30px 0px; }
}

/* ------------------------------------------------------------ *\
	II.  Regions
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer-nav { -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-align: end; align-items: flex-end; padding: 1.5rem 0; background-color: #5C758A ; }
.footer-link { font-size: 1.15rem; color: white; }
.footer-link:hover { color: #94AABC; }
.footer-icon { width: 24px; filter: opacity(.7); }
.footer-icon:hover,
.footer-icon:active { filter: opacity(1); }

@media (max-width: 767px) {
	.footer-link { font-size: 1.25rem; }
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper { max-width: 1024px; margin: 0 auto; }

/* ------------------------------------------------------------ *\
	III. Modules
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { -webkit-appearance: none; appearance: none; }

/* ------------------------------------------------------------ *\
	Card
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav-tabs-inner .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link { padding: 1rem; background-color: #5C758A; color: white; }
.nav-tabs-inner .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active  { background-color: #94AABC; color: white; }

.nav-tabs-inner { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
.nav-tabs-inner .nav-item { width: 100%; position: relative; text-align: center; }
.nav-tabs-inner .nav-link  { padding: 1.85rem 1rem; border-top-left-radius: 0; border-top-right-radius: 0; border: none; font-size: 1.25rem; }
.nav-tabs-inner .nav-item-left .triangle-right { position: absolute; right: 0; }
.nav-tabs-inner .nav-item-left .triangle-right-first { top: -27px; right: -16px; -ms-transform: rotate(332deg); transform: rotate(332deg); }
.nav-tabs-inner .nav-item-left .triangle-right-second { bottom: -30px; right: -16px; -ms-transform: rotate(30deg); transform: rotate(30deg); }
.nav-tabs-inner .nav-item-left .triangle-border-top { position: absolute; top: 6px; right: -21px; z-index: 10; width: 82px; height: 1px;
	background-color: white; -ms-transform: rotate(61deg); transform: rotate(61deg); }
.nav-tabs-inner .nav-item-left .triangle-border-bottom { position: absolute; bottom: 4px; right: -21px; z-index: 10; width: 82px; height: 1px;
	 background-color: white; -ms-transform: rotate(300deg); transform: rotate(300deg); }
.nav-tabs-inner .nav-item-middle .triangle-left-first { position: absolute; top: -27px; left: -16px; -ms-transform: rotate(28deg); transform: rotate(28deg); }
.nav-tabs-inner .nav-item-middle .triangle-left-second { position: absolute; bottom: -30px; left: -16px; -ms-transform: rotate(332deg); transform: rotate(332deg); }
.nav-tabs-inner .nav-item-middle .triangle-right-first { position: absolute; top: -27px; right: -16px; -ms-transform: rotate(332deg); transform: rotate(332deg); }
.nav-tabs-inner .nav-item-middle .triangle-right-second { position: absolute; bottom: -30px; right: -16px; -ms-transform: rotate(26deg); transform: rotate(26deg); }
.nav-tabs-inner .nav-item-middle .triangle-border-top { position: absolute; top: 10px; right: -19px; width: 71px; height: 1px; z-index: 10; background-color: white; -ms-transform: rotate(-117deg); transform: rotate(-117deg); }
.nav-tabs-inner .nav-item-middle .triangle-border-botom { position: absolute; bottom: 9px; right: -18px; width: 70px; height: 1px; z-index: 10; background-color: white; -ms-transform: rotate(117deg); transform: rotate(117deg); }
.nav-tabs-inner .nav-item-right .triangle-left-first { position: absolute; top: -27px; left: -16px; -ms-transform: rotate(28deg); transform: rotate(28deg); }
.nav-tabs-inner .nav-item-right .triangle-left-second { position: absolute; bottom: -30px; left: -16px; -ms-transform: rotate(332deg); transform: rotate(332deg); }

@media (max-width: 1499px) {
	.nav-tabs-inner .nav-link { padding: 2.15rem 1rem; font-size: 1.35rem; }
}

@media (max-width: 991px) {
	.nav-tabs-inner .nav-item-left .triangle-right-first { top: -21px; right: -14px; }
	.nav-tabs-inner .nav-item-left .triangle-right-second { bottom: -19px; right: -15px; }
	.nav-tabs-inner .nav-item-middle .triangle-left-first { top: -21px; left: -14px; }
	.nav-tabs-inner .nav-item-middle .triangle-left-second { bottom: -19px; left: -13px; }
	.nav-tabs-inner .nav-item-middle .triangle-right-first { top: -21px; right: -14px; }
	.nav-tabs-inner .nav-item-middle .triangle-right-second { bottom: -19px; right: -15px; }
	.nav-tabs-inner .nav-item-right .triangle-left-first { top: -21px; left: -14px; }
	.nav-tabs-inner .nav-item-right .triangle-left-second { bottom: -19px; left: -13px; }
}

@media (max-width: 767px) {
	.nav-tabs-inner .nav-link { padding: 1.75rem 1rem; font-size: 1rem; }
	.nav-tabs-inner .nav-item-left .triangle-right-first { top: -30px; right: -14px; }
	.nav-tabs-inner .nav-item-left .triangle-right-second { bottom: -28px; right: -17px; }
	.nav-tabs-inner .nav-item-left .triangle-border-top { top: -6px; right: -19px; width: 81px;}
	.nav-tabs-inner .nav-item-left .triangle-border-bottom { bottom: -10px; right: -19px; z-index: 10; width: 82px; }
	.nav-tabs-inner .nav-item-middle .triangle-left-first { top: -30px; left: -15px; }
	.nav-tabs-inner .nav-item-middle .triangle-left-second { bottom: -26px; left: -17px; -ms-transform: rotate(341deg); transform: rotate(341deg); }
	.nav-tabs-inner .nav-item-middle .triangle-right-first { top: -30px; right: -15px; }
	.nav-tabs-inner .nav-item-middle .triangle-right-second { bottom: -28px; right: -17px; }
	.nav-tabs-inner .nav-item-middle .triangle-border-top { top: -3px; right: -17px; }
	.nav-tabs-inner .nav-item-middle .triangle-border-botom { bottom: -4px; right: -17px; }
	.nav-tabs-inner .nav-item-right .triangle-left-first { top: -30px; left: -15px; }
	.nav-tabs-inner .nav-item-right .triangle-left-second { bottom: -28px; left: -17px; -ms-transform: rotate(341deg); transform: rotate(341deg); }
}

/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section-head .navbar-brand { margin-right: 0; }

.section-body { position: relative; z-index: 200; }
.section-body .prod-teaser-image { width: 100%; }
.section-body-inner { bottom: 2%; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: end; align-items: flex-end; }
.section-body-inner-left,
.section-body-inner-right { padding: 1rem; }

.section-body .section-body-inner img { filter: opacity(.7); }
.section-body .section-body-inner img:hover,
.section-body .section-body-inner img:active { filter: opacity(1); }

.section-bottom .tab-content { position: relative; z-index: 200; background-color: #f0f0f0; }
.section-bottom .tab-product-teaser { display: -ms-flexbox; display: flex; flex-wrap: wrap; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; padding: 3rem; }
.section-bottom .tab-product-checkbox { flex-basis: 33%; width: 33%; margin: 1.5rem 0; cursor: pointer; text-align: center; }
.section-bottom .tab-product-checkbox input { position: absolute; top: 0; left: 0; visibility: hidden; pointer-events: none; }
.section-bottom .tab-product-checkbox img { display: inline-block; width: 65px; height: 65px; margin: 0; border-radius: 50%; padding: .35rem; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
.item-checked { background-color: #e5e5e5; box-shadow: inset 2px 3px 3px 0 rgb(161 157 157 / 50%), inset -8px -8px 12px 0 rgb(255 255 255); }
.section-bottom .tab-product-teaser-text { padding-top: 0.75rem; font-family: 'Noto Serif Telugu',sans-serif; font-size: 11px; }
.section-bottom .tab-product-teaser-second {  display: -ms-flexbox;  display: flex; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; padding: 2rem; }
.section-bottom .tab-product-teaser-second .tab-product-inner { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; width: 100%; margin-bottom: 1.5rem; }
.section-bottom .tab-product-teaser-second .tab-img { padding: 0; }

@media (max-width: 767px) {
	.section-head .navbar-brand img { width: 55%; }
	.section-body .section-body-inner img { width: 60%; }
}

/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slider .slides { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */

.widgets { list-style: none outside none; }
